body 
{
  background-color: papayawhip;
  font-size: 18px;
  text-align: center;
}
nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }